.navbar-custom {
  /* position: fixed;
  top: 0; */
  width: 100%;
  z-index: 999;
  border: none;
  background-color: transparent;
  transition: background-color 0.6s ease, padding 0.4s ease;
  padding: 5px 0;
  font-size: 15px !important;
}
.navbar-custom .dropdown {
  margin-top: 2.5rem !important;
}
.navbar-custom .nav-item {
  margin-top: 2.5rem !important;
}

.navbar-custom .container-fluid {
  padding: 0 40px;
}

/* ======== LOGO ======== */
.navbar-brand {
  display: flex;
  align-items: center; /* Biar logo pas tengah vertikal */
  height: 100%;
  padding: 15px; /* Hilangkan padding bawaan */
  padding-left: 10px;
}

.navbar-brand img {
  max-height: 70px;
  width: auto;
  transition: transform 0.3s ease;
}

/* Saat scroll: logo sedikit kecil */
.navbar-custom.scrolled .navbar-brand img {
  transform: scale(0.95);
}
.navbar-custom.scrolled {
  background-color: rgb(0, 0, 0, 0.8);
}

.contact-page-header,
.bg-admin {
  margin-top: -50px;
  width: 100%;
}

#bawah,
.footer .container-fluid {
  padding: 80px 80px;
}

#bawah img {
  margin-bottom: 20px;
}

#bawah li {
  font-size: 20px;
}

/* ======== RESPONSIVE ======== */
@media (max-width: 767px) {
  .navbar-custom {
    padding: 10px 0;
  }

  .icon-bar {
    margin-top: 1rem;
  }

  .navbar-custom .container-fluid {
    padding: 0 20px;
  }

  #bawah .container-fluid {
    padding: 0px 0px;
  }

  .navbar-brand img {
    max-height: 45px;
    padding-left: 10px;
  }
}
